header {
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    margin: 15px;
    margin-left: 3%;
    margin-right: auto;
    width: 80px;
}

.navbar {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.nav-item {
    font-family: 'Pretendard', 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    transition: all 100ms ease-in;
    
}
.nav-item:hover {
    transition: all 100ms ease-out;
    font-weight: 600;
    transform: scale(1.1);
}